<%= button_to "Back", root_path, method: :get,
                      class: 'inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50 mt-4 dark:bg-gray-800 dark:text-gray-500 dark:border-gray-500 dark:hover:border-gray-400 dark:hover:text-gray-300 dark:hover:bg-gray-700' %>

<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8 w-full">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900 dark:text-gray-400">Sign in</h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white dark:bg-gray-600 py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= form_with(url: sign_in_path, class: 'space-y-6' ) do |form| %>
        <%= render 'shared/errors', object: @user %>
        <div>
          <%= form.label :email, 'Email address', class: "block text-sm font-medium text-gray-700 dark:text-gray-300" %>
          <div class="mt-1">
            <%= form.email_field :email, value: params[:email_hint], autofocus: true, required: true, autocomplete: "email",
                                  class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>
        </div>

        <div>
          <%= form.label :password, class: 'block text-sm font-medium text-gray-700 dark:text-gray-300'%>
          <div class="mt-1">
            <%= form.password_field :password, required: true, autocomplete: "current-password",
                          class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded">
            <label for="remember-me" class="ml-2 block text-sm text-gray-900 dark:text-gray-300">
              Remember me
            </label>
          </div>

          <div class="text-sm">
            <%= link_to "Forgot your password?", new_password_reset_path,
                        class: 'class="font-medium text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 dark:hover:text-indigo-500' %>
          </div>
        </div>

        <div>
          <%= form.submit "Sign in", class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      <% end %>
      <div class="mt-6">
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm">
            <span class="px-2 bg-white text-gray-500 dark:bg-gray-400 dark:text-gray-700"> Not registered? </span>
          </div>
        </div>
      </div>
      <div class='mt-6 text-center'>
        <%= link_to "Sign up", sign_up_path,
                    class: 'w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50' %>
      </div>
    </div>
  </div>
</div>
