<%= button_to "Back", root_path, method: :get,
                      class: 'inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50 mt-4 dark:bg-gray-800 dark:text-gray-500 dark:border-gray-500 dark:hover:border-gray-400 dark:hover:text-gray-300 dark:hover:bg-gray-700' %>

<div class="mx-auto w-2/3 mt-28">
  <h2 class="text-3xl text-gray-900 dark:text-gray-300 font-bold mb-2">
    Your todos
  </h2>
  <%= turbo_frame_tag "todos-container", class: "block max-w-2xl w-full bg-white dark:bg-gray-600 py-8 px-4 border border-gray-600 rounded shadow-sm" do %>
  <div class="w-full mb-4">
    <ul class="flex space-x-2 justify-center">
      <li>
        <%= link_to "Incomplete", todos_path(status: "incomplete"), class: "inline-block py-4 px-4 text-sm font-medium text-center text-gray-500 dark:text-gray-400 border-b-2 #{@status == 'incomplete' ? 'border-gray-400 dark:hover:border-gray-300' :
        'border-transparent'} hover:text-gray-600 dark:hover:hover:text-gray-300" %>
      <li>
        <%= link_to "Complete", todos_path(status: "complete"), class: "inline-block py-4 px-4 text-sm font-medium text-center text-gray-500 dark:text-gray-400 border-b-2 #{@status == 'complete' ? 'border-gray-400 dark:hover:border-gray-300' :
        'border-transparent'} hover:text-gray-600 dark:hover:hover:text-gray-300" %>
      </li>
    </ul>
  </div>
  <% unless params[:status] == "complete" %>
    <div class="px-4">
      <%= render "form", todo: Todo.new %>
    </div>
  <% end %>
  <ul id="todos" class='px-3 mt-3'>
    <%= render @todos %>
  </ul>
<% end %>
</div>
